@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 32.5%;
}

body {
    min-width: 320px;
    height: 100vh;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

main section {
    padding: 30px 40px;
}

main section img {
    width: 35px;
    margin-bottom: 15px;
}

main section h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--very-light-gray);
    margin-bottom: 15px;
}

main section p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--transparent-white);
    margin-bottom: 15px;
}

main section button {
    width: 50%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.1rem;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.box-sedans {
    background-color: var(--bright-orange);
}

.box-sedans button {
    color: var(--bright-orange);
}

.box-suvs {
    background-color: var(--dark-cyan);
}

.box-suvs button {
    color: var(--dark-cyan);
}

.box-luxury {
    background-color: var(--very-dark-cyan);
}

.box-luxury button {
    color: var(--very-dark-cyan);
}

@media (min-width: 1000px) {
    main {
        width: 700px;
        flex-direction: row;
    }

    main section p {
        margin-bottom: 65px;
    }

    main section button {
        width: 70%;
    }
}